[2020-05-14 01:41] pjotal opened #1 "Error getting devices: Error: UserOpenTwoFactorAuth"
Provided all necessary information in config.json but it's not working due to failing on two factor authentication.

here is the error message captured from the logs:
[code]

[2020-05-14 02:27] misenhower commented on #1
2FA isn't currently supported, but I'll look into this in the future to see if I can implement it via refresh tokens. I'd suggest disabling 2FA for now if you want to use this plugin. Thanks!

[2020-05-14 02:31] pjotal commented on #1
i noticed that if the user provides all info you request in your constructor (except refreshToken which is not necessary) in the `config.json` he won't need to perform the login method. therefore, you can bypass it as an alternative. from what i saw in your code this is already the case.

i guess you just need to collect those in your `getClient()`

[2020-05-14 03:07] pjotal opened #2 "[New feature] Add support for motion and door sensors"
Do you have any plans to start supporting sensors as well?
Looks like you have everything that is necessary to get it going.

[2020-05-14 22:36] pjotal commented on #2
i'll have a pull request for you this weekend to add support for the sensors. i got it working.

[2020-05-15 16:10] misenhower commented on #2
Awesome! I don't currently have any sensors to test with so no plans at the moment, but if you submit a PR I'll review it 😃

[2020-05-17 07:18] sheikhmeister commented on #2
Hey Misen,
Great job with light bulbs! They work flawlessly.
I have submitted PRs for Wyze Sense and Wyze Cam :)
I will be more than happy to contribute to get the devices if required.

[2020-05-17 19:04] pjotal commented on #2
i will submit a PR for the 2 sensors soon.
also took the chance and implemented support for the 2FA. am just polishing
the error handling to provide better error messages.

On Sun, May 17, 2020 at 03:18 Sheikh Abdullah <notifications@github.com>
wrote:

--
Pedro Carneiro

[2020-05-17 19:58] misenhower commented on #2
Sounds great, thanks for your effort on this!

[2020-05-17 20:46] pjotal commented on #1
well.. good news for you.
in the PR i just submitted i added support for 2FA as well :)
took the chance to enhance a bit the error handling and logging here and there, nothing major.

[2020-05-19 22:43] #1 closed

[2020-05-19 22:43] #2 closed

[2020-05-20 03:42] sheikhmeister commented on #2
i love the new integrations!

[2020-05-28 21:35] av8ndad opened #7 "Unable to Control Wyze Plug"
I am unable to control my Wyze plug using Homebridge and your code. The devices show up in my Home app, but I am unable to control them. At first, they show as available for use in the Home app, but when I try to toggle them on or off, they are not controllable and then the Home app reports them as No Response. I have tried with and without 2FA, and each time I have had the same issue.

Here is a

[2020-06-03 01:04] Lukejb14 opened #8 "Wyze Lock Support?"
Is Wyze Lock support in the works?

Thanks!

[2020-06-09 17:16] av8ndad commented on #7
I don't know why, but it suddenly started working, so I will close this case. Thanks for the plugin!

[2020-06-09 17:16] #7 closed

[2020-06-10 18:17] mpmullally opened #9 "Cannot find the bridged Accessory to remove."
I consistently receive an error the moment setup the plugin. It goes through a loop like

[code]

[2020-06-14 21:59] misenhower commented on #8
No plans at the moment as I don't have a device to test with. I'd be happy to look at a PR for this functionality though!

[2020-06-14 22:10] misenhower commented on #9
I just published a new version that modifies one of the log messages to help diagnose this problem. Could you try updating and re-enabling the plugin again to see if the error changed?

I don't have any of these devices to test with locally -- support for the contact/motion sensors was added by @pjotal so he might have some more ideas here.

[2020-06-14 22:12] misenhower commented on #7
Glad to hear it worked out! My guess is their server was blocking you for some reason and then started rejecting all the requests from the plugin. I should probably implement some kind of back off functionality to prevent the plugin from hammering their servers when something goes wrong.

[2020-06-14 23:50] pjotal commented on #9
i saw this a couple of times while i was developing the support for the sensors. it happens when the homebridge accessory is initialized before the plugin receives the response from the wyze backend. it happened less than 5% of the time for me so it was really hard to investigate a way to workaround it. what i noticed is that the response time from wyze sometimes can take a bit longer than usual,

[2020-06-14 23:53] pjotal commented on #9
can you run homebridge in debug mode and send us the logs so i see exactly where it is failing? i want to make sure the authentication passed fine.

[2020-06-15 16:40] mpmullally commented on #9
[logs-everything-setup.txt](https://github.com/misenhower/homebridge-wyze-connected-home/files/4781663/logs-everything-setup.txt)

I also went ahead and removed all plugins and config options, leaving only the wyze plugin and config and received the same errors

[2020-06-16 02:50] LeonCaesa opened #10 "Cam Support"

[2020-06-16 20:26] seecoolguy commented on #9
when I try to use my wyze login with 2FA the homebridge on raspberry pi loads up really slow and my 2FA is expired by then.

[2020-06-16 21:04] pjotal commented on #9
hi @seecoolguy. looks like the issue you're facing is different than the originally reported by @mpmullally. could you please report it in a different ticket? also, could you please provide a log of your execution in debug mode in the new ticket?

[2020-06-17 02:33] pjotal commented on #9
hi @mpmullally i'll need a bit of time to investigate this. will try investigate it during the weekend and come back to you. i guess my biggest challenge will be to reproduce it since i don't face this issue since a long time.

[2020-06-17 02:35] pjotal commented on #9
@misenhower could you please update the title of this issue to "Cannot find the bridged Accessory to remove." to avoid people to come and append different behaviours in this ticket due to how much generic its title is?

[2020-06-17 15:53] seecoolguy commented on #10
+1 i've seen other examples where this is already supported, but I do not know what it requires other than the custom firmware from wyze

[2020-06-17 16:37] seecoolguy opened #11 "On Raspberry Pi, long restart processes causes 2FA code to expire"
Hi,

This plugin works pretty awesome, so thank you.  I don't know what a good polling interval should be since 5 seconds seems way too long for motion sensors for automation tasks.

When I first tried setting up the Wyze plugin when I have 2FA turned on, the homebridge on raspberry pi 1 restarts really slow, almost 2 minutes before I see the log  and my 2FA is expired by then. This causes my logi

[2020-06-17 19:35] mpmullally commented on #9
@pjotal would it help if shared access with the device with you to test in the wyze app?

[2020-06-21 05:48] pjotal commented on #11
hi @seecoolguy, sorry for the late response. i've been busy with other stuff.
indeed homebridge is pretty CPU intensive in its boot and on limited hardware like a raspberry pi it can take longer to start to the point that your wyze 2FA pin is no longer valid. this can also be the case for people who has tons of plugins and devices plugged to homebridge.

here are two a workarounds i suggest you tr

[2020-06-21 05:55] pjotal commented on #9
hi @mpmullally i am having a hard time to reproduce the issue here but maybe i have a fix for it. it's hard to guarantee it's solved as i can't reproduce it easily but i tried different scenarios several times and in all cases the issue was no longer there. i guess that's the best i can do.
will submit a PR tomorrow with it. keep us posted when you get the update. fingers crossed! :)

[2020-06-21 16:59] pjotal commented on #10
hi @LeonCaesa and @seecoolguy i have no idea how we could do video streaming in this plugin. have you tried the homebridge-camera-ffmpeg plugin? there are articles in medium and everything talking about how to integrate it with wyze cams and homebridge. it requires the RTSP firmware to work. give it a try and let us know.

let's say we can't do the video portion. is there any feature you see benef

[2020-06-21 17:00] pjotal commented on #8
shouldn't be hard to implement it but i don't have the device either.

[2020-06-22 03:55] seecoolguy commented on #11
Thanks I’ll try these steps to see if i can beat the clock

[2020-06-23 20:24] seecoolguy commented on #10
hi @pjotal yeah I just added the RTSP beta firmware and this does allow me to configure the camera and I am able to stream on VLC but I don't have the right configuration to stream to HomeKit :-/

[2020-06-23 21:27] pjotal commented on #10
try this: https://medium.com/dirigible/wyze-cam-homekit-58c4878c4124

i did and it worked. on my hardware the performance was not great so i decided to revert to the production firmware.

implementing the video portion is not simple and it’s not in our plans. we would love to have someone contributing with this feature though. if you’re a developer, feel free to send a pull request and i am pretty

[2020-06-23 21:34] seecoolguy commented on #10
Thank you pjotal, my version of Raspberry pi was missing the ffmpeg lib, thanks for the guide, this is very cool

[2020-06-23 22:01] seecoolguy commented on #10
I do like the concept that if the camera senses motion, have it turn on a light :). I don't know if the API allows you to get that information from the camera?

[2020-06-23 23:06] pjotal commented on #10
i am not 100% sure if this is possible but it’s something that can be investigated. do you remember if the camera has a motion sensor on it?
if it’s purely based on image i guess it’s not. if this is something they flag via api, it is.

[2020-06-24 18:32] Silva231 opened #13 "Instal Issues"
Hi guys,

On install I get the follow reply from terminal

EAS:~ eas$ npm i homebridge-wyze-connected-home
npm WARN saveError ENOENT: no such file or directory, open '/Users/eas/package.json'
npm WARN enoent ENOENT: no such file or directory, open '/Users/eas/package.json'
npm WARN eas No description
npm WARN eas No repository field.
npm WARN eas No README data
npm WARN eas No license field.

+ ho

[2020-06-26 16:08] mpmullally commented on #9
Your fix did not work. I did setup a HOOBS install on a spare pi, and everything worked first time.

my plan is to run both bridges since its all working right now.

[2020-06-26 16:49] pjotal commented on #9
hi @mpmullally how you checked the changes? no build was published by @misenhower yet. have you copied the code from the branch and applied to you homebridge directly?

glad to hear you got it working in a vanilla homebridge.

[2020-06-30 00:21] CarloSolisA commented on #9
I have the same Error, my log says: [Wyze] Unrecognized accessory type "undefined", removing: Luz de la Sala

[2020-07-04 16:29] smartwatermelon commented on #8
I do have the Wyze lock but currently no experience in homebridge plugin development. I'd like to be of help in testing though.

[2020-07-10 20:24] town3r commented on #11
Needed to disable 2FA until I can get an updated Pi that is fast enough to boot up within 20-30 seconds.

You might be able to copy what they did w/ the homebridge-ring plugin during the authentication step of the setup process

https://github.com/dgreif/ring/tree/master/homebridge

[2020-07-16 14:29] town3r opened #14 "Request failed: Error: getaddrinfo EAI_AGAIN api.wyzecam.com"
I'm seeing the following errors in the logs over and over again.

Has anyone else experienced this issue?

[2020-07-16 19:04] blcarson commented on #14
Having issues setting up a new install - possibly related?

[2020-08-03 01:42] edcous commented on #8
Any update on this or alternative?

[2020-08-03 16:32] pjotal commented on #8
sorry but without having the device is almost impossible to build support
for it. if any of you is familiar with dev, feel free to submit a pull
request with your implementation and we’ll be glad to review.

adding support to new devices is often easy for someone familiar with code.
even though i am not a javascript developer, i was able to write support
for the sensors and contribute to this plug

[2020-08-06 01:48] edcous commented on #8
I am planning on buying one. If someone is willing to help me get started I'd consider developing it.

[2020-08-12 18:28] PatrickH39 commented on #14
I'm seeing the same errors sometimes. I just restart Homebridge and the Wyze Cam, I'm not sure why it does this.

[2020-09-24 03:14] ccruise13 opened #17 "app_id undefined error - Failure to pull in any Wyze Devices"
I am current running homebridge Version 1.2.3 and plugin homebridge-wyze-connected-home v0.5.1. I also have MF2A enabled within my configuration. Upon startup I see the following in my logs:

`
[9/23/2020, 10:00:23 PM] [Wyze-Smart-Home] Initializing WyzeConnectedHome platform...

...

[9/23/2020, 10:00:40 PM] [Wyze-Smart-Home] Error getting devices: TypeError: Cannot read property 'app_id' of unde

[2020-09-29 22:57] hfagelnour opened #18 "Choose Which Device to hide"
this is actually a request:
Would be nice if we can specify which device shows up on which home bridge incident. this plugin works gr8 but it shows all devices in the account whether it is in the same home or not.
it would help a lot if the plugin populates the devices and we could choose which device shows up in which home bridge incident.

[2020-10-01 03:56] rwolfe5420 commented on #17
I had the same issues as you. I was able to resolve by changing my MF2A to google authenticator in the wyze app. Once it did this and used one of the codes from google authenticator it logged in and pulled all my wyze devices.

[2020-10-01 22:24] ccruise13 commented on #17
Thank you for the advice! I was able to swap over to using an authenticator app and this did resolve my problem!

[2020-10-01 22:40] rwolfe5420 commented on #17
No problem! Glad it worked for you!

[2020-10-04 20:39] SteveQ2 commented on #9
On windows 10, the plugin also crashes HomeBridge. It works fine when first installed but when I add or remove any device from HomeBridge, the plugin will no longer work; even after uninstalling and reinstalling.

Here is my HomeBridge log:

log file below and attached

[37m[10/2/2020, 8:34:27 PM][0m [36m[HB Supervisor][0m Started Homebridge v1.1.6 with PID: 5292
[37m[10/2/2020, 8:34:29 PM] 

[2020-10-04 20:55] SerpentDrago commented on #9
Still getting this issue , even after trying the fix branch from @pjotal

![image](https://user-images.githubusercontent.com/21133858/95026826-18f1e600-0662-11eb-8bd1-f88b108a460a.png)

This is a Fresh clean install of Homebridge , instalaled the wyze connected home plugin , and then after it did what it did above on first restart before doing anything besides entering my login / pass into the wyz

[2020-10-04 21:18] SerpentDrago commented on #9
Ok completely removed  , homebridge , all node folders . wiped the crap out of it . reinstalled fresh , then installed this addon/plugin . but before i restarted for the first time after installing . I replaced the node module with the one from @pjotal  I think it worked .  UPDATE: yep works great . i guess some leftover stuff was from the old version . Anyone else having this issues i suggest rep

[2020-10-05 01:19] SteveQ2 commented on #9
Thanks,  I found the pjotal repository.

I am new to HomeBridge and GitHub.  How/where do I install this?

[2020-10-05 13:19] SerpentDrago commented on #9
download the zip from the  9_fix_cannot_remove_accessory branch  on his repo , and then extract the continents replacing what is in > appdata/roaming/npm/node_modules/homebridge-wyze-connected-home

you will need to clear out your homebridge existing stuff (look in HB settings ) or completly remove it and all userdata folders and install fresh . good luck

Hopefully @misenhower  will just accept t

[2020-10-05 22:06] SteveQ2 commented on #9
Thanks for the info.  But I can’t find any of these directories or HomeBridge files on the computer I installed it on. I do have HomeBridge running on another computer on my network.

I don’t know anything about JavaScript.

I’m willing to learn if you can point me to a starting site.

[2020-10-06 00:26] SteveQ2 commented on #9
Ok, I found the files.  AppData was a hidden file and was not showing even though “show hidden files” was selected.  I will continue to work on it.

[2020-10-06 19:02] jfarmer08 commented on #10
You cannot see the motion sensor in the wyze API, but you can see the option to turn the camera on and off along with setting other options.

[2020-10-06 22:20] SteveQ2 commented on #9
No luck!  I cannot reinstall homebridge. I’ve deleted all the files I can find but the installer says the UI is already installed. I will keep looking. ☹️

Sent from my iPhone

[2020-10-07 19:09] SteveQ2 commented on #9
OK,  It was brutal, but I was finally able to reinstall everything and I now have the the Wyze Connected Home plugin running on HomeBridge.  I can See and control my Wyze sensors and plug via my Home app on my iPhone and iPad.  I copied the @pjotal repository on top of the @Misenhower files before I used the plugin "settings" button.

I will continue to work with the plugin to see if it will conti

[2020-10-09 01:02] SteveQ2 commented on #9
Sorry to say, the plugin crashed HomeBridge when I tried to add another accessory to HomeBridge.  Everything worked fine for 2 days until tonight when I tried to add a switch device to HomeBridge.

Here is my log:
[homebridge.log](https://github.com/misenhower/homebridge-wyze-connected-home/files/5352010/homebridge.log)

[2020-10-09 23:54] bwalshin commented on #14
I'm seeing this as well with both my Wyze Cam v2s. I restart my cameras and that fixes it, but after an hour or so, I see the errors again. Once the errors start, I have no access to the Cam v2s and the sensors bridged to them.

This error doesn't effect my Outdoor Cam (I'm assuming because it's linked to the base station which is hard wired to my router).
Leading me to think it may be a Wyze/Wifi

[2020-10-11 15:55] SteveQ2 commented on #9
One work-around is to add a second instance of homebridge dedicated to the wyze connected home plugin. ( see https://github.com/oznu/homebridge-config-ui-x/wiki/Homebridge-Service-Command#multiple-instances)   This will keep the plugin and  wyze devices separated from the other Home accessories.

[2020-10-19 03:08] theclamps commented on #9
I have tried everything mentioned in this thread and am unable to get it to function correctly. I tried making a new instance of Homebridge (but it just acted like the first one), I tried overwriting with the new files. I feel like I am missing something easier than I would think at this point. Any other advice?

[2020-10-19 11:17] SteveQ2 commented on #9
To get HomeBridge working again (Windows 10) , I uninstalled it and deleted all the HomeBridge related sub directories in the user directory and the app data directory.   I then reinstalled hb-service.  After HomeBridge is running, The Wyze plugin for HomeBridge can then be reinstalled and will work.  But HomeBridge will fail again if I make any change to the Wyze config.Json  file. The pjotal rep

[2020-10-19 12:39] theclamps commented on #9
I have tried that, but it keeps giving me the same issue. I tried the repo and it was the same exact thing. Maybe I am missing a folder somewhere as I delete both the npm and npm-cache folder in AppData and the .homebridge folder that is made in user folder. Are there others?

Edit: I figured out how to get it to work. I turned on Debug Mode to see what was happening and it looked like the accesso

[2020-10-19 14:27] theclamps commented on #9
I figured out how to get it to work. I turned on Debug Mode to see what was happening and it looked like the accessories were cached. So, I went in to Homebridge Settings and removed all of these as cached accessories and it reset them all and it has been working for a little bit now. Haven't added a new one in yet, but I plan to when I can. My phone is currently on iOS 14.2 beta and for some reas

[2020-10-19 14:39] theclamps commented on #9
It was shortlived...every time Homebridge has to be restarted I have to go through and remove the cached accessories. This also removes them from the Home App and then removes the organizing I did so I have to do it all over again.

[2020-10-20 11:29] SteveQ2 commented on #9
I believe that when you uninstall hb-service any cached device info is deleted, but the config info is not.

I have 8 Wyze devices.  I am using a second instance of HomeBridge and the Wyze connected home plugin for only these devices, nothing else.  It has been running for 4 days now.

[2020-10-31 05:07] Jpereyra316 opened #19 "Fails to light up entire group"
I installed the SmartThings plugin and I now have a sensor that triggers a group of 4 lights. When the automated request goes through Homebridge, it sets color, brightness and state properties for all bulbs in the group (4). The Homebridge logging reflects this request seems to be sent to the Wyze Sense bridge. However, pretty consistently, not all bulbs turn on. I think the Wyze bridge might not

[2020-10-31 17:52] ericraio commented on #8
I have a wyze lock and I just bought a raspberry pi for homebridge, when it comes in I'll submit a pull request to add lock support.

[2020-10-31 18:44] just-a-random-person commented on #8
Oh ok cool! Looking forward to it!

[2020-10-31 18:44] edcous commented on #8
Oh ok cool, looking forward to it.

Sent from my iPhone

[2020-11-02 21:18] Geczy commented on #19
I have the same issue, but on individual bulb activating from a sensor trigger, not a group of bulbs. Did you find anything @Jpereyra316

I wonder if this could fix it https://github.com/misenhower/homebridge-wyze-connected-home/pull/12/files

[2020-11-03 17:25] jeanofthedead opened #20 "Request failed: Error with Wyze API / Access Tokens"
Hello, there seems to be a timeout with my access token becoming invalid every day, multiple times a day. Rebooting the HomeBridge instance fixes the error, but it eventually comes up again. Any tips?

Here's my log:
[11/3/2020, 02:00:32] [Wyze] Request failed: Error: getaddrinfo EAI_AGAIN api.wyzecam.com
[11/3/2020, 02:00:32] [Wyze] Error, refreshing access token and trying again

Running:
RaspPi

[2020-11-06 21:08] jfarmer08 opened #21 "Remove Debug from log"
Can you remove the full debug from the log unless a debug flag is set.

[2020-11-12 04:11] Pantman opened #22 "Cannot change color temperature through Siri"
Home app works great (thank you!) for setting brightness and color temperature, but I cannot drive the color temperature through Siri. I've tried the following:

"Turn on/off Master Bedroom lights" - this works

but if I try any of the following, the color temperature doesn't change.

"Set Master Bedroom lights to candle light" - Siri says "the master bedroom lights do not support that action"
"Se

[2020-11-23 16:11] jfarmer08 commented on #21
Would someone help me with setting up my dev system. And so that I can create a pull request?

[2020-11-23 16:14] jfarmer08 commented on #8
I added support for Wyze Lock Status in https://github.com/JoshuaMulliken/ha-wyzeapi. Currently there is no way to send lock or unlock commands. I would like to add this to this project also, but I need help in setting up a dev system. If someone could help with that it would be great.

[2020-11-25 03:21] beetlewigs commented on #20
Hi, I’m having the same issue. My Wyze bulbs are controllable and do work fine with Home, which is all I care about. My Wyze cams do not work via Home, which I think is what the error is about, but I use the Wyze app to view those.

[11/24/2020, 6:37:19 PM] [Wyze] Request failed: Error: getaddrinfo EAI_AGAIN api.wyzecam.com
[11/24/2020, 6:37:19 PM] [Wyze] Error, refreshing access token and trying

[2020-11-27 19:18] Pantman commented on #22
I noticed a related problem. Setting home automation rules (e.g turn on light at 6pm) with light colour setting, seems to not always respect the light colour.

[2020-11-28 18:44] dlewanda commented on #8
I'm an embedded systems (mostly C/C++) and Apple Platforms (Objective-C/Swift) developer with some Javascript knowledge and I'd like to take a stab at some Homebridge development. I've got a bunch of Wyze gear including a Lock. If anyone can provide a README for getting set up for development and testing, I'd be happy to take a swing at contributing to this project too!

[2020-12-02 23:51] caseypugh commented on #22
Also noticed that the color & brightness setting doesnt always work through automation. Only sometimes does it get both correct.

[2020-12-06 19:52] caseypugh commented on #19
I have a PR open that fixes this issue. https://github.com/misenhower/homebridge-wyze-connected-home/pull/23

[2020-12-11 16:20] whreams opened #24 "Request failed: Error: read ETIMEDOUT"
Getting these occasionally.  Unsure if this is related to some other Issue entries, but wanted to at least report.  Is this related to a timeout query of the API from Wyze or the local device itself?

[2020-12-12 05:26] Jpereyra316 commented on #19
Closing this issue since #23 is the same as this.

[2020-12-12 19:59] Geczy commented on #19
Uh? A pr is not an issue, this should stay open

[2020-12-12 23:41] Jpereyra316 commented on #19
I guess it could stay open until 23 has been pulled and confirmed, but I figured why track the same issue in 2 places.

[2020-12-13 00:01] caseypugh commented on #19
Thanks for keeping open.

Tangentially, is this plugin still actively maintained? Last commit was 6 months ago and there are 4 open PRs.

[2020-12-15 20:51] jfarmer08 commented on #8
I am finding it hard to debug anything with Homebridge. Can anyone point me in the right place to setup my development system?

[2020-12-15 20:53] jfarmer08 commented on #21
Can anyone help with this.

[2020-12-19 20:22] whreams opened #25 "Light Bulb does not reflect real state"
Real state of light bulb is not matching the HB status.  Using the Wyze app, I toggle the state, and the HB state/HK state does not match.

[2020-12-19 23:26] whreams commented on #25
Could be related???

[12/19/2020, 5:23:05 PM] [Wyze] Request failed: Error: read ETIMEDOUT
[12/19/2020, 5:23:05 PM] [Wyze] Error, refreshing access token and trying again

[2020-12-23 13:45] whreams commented on #25
After a few days of use, (new wyze user - old HB user) there seems to be some bouncing in the state when JSON is fed to the HB plugin.  As I feed JSON to a bulb, it sometimes reacts correctly to the JSON, other times it bounces back a response of what the state of the bulb was before the request to change it.  Example:

Requested State:
{
    "On": true,
    "Brightness": 25,
    "ColorTemperature

[2021-01-23 08:14] cuatexoft opened #27 "Wyze Thermostat Support?"
Do you have plans to add the Wyze Thermostat as an accesory?  if yes, here are some info could help you
https://github.com/JoshuaMulliken/ha-wyzeapi/discussions/103

[2021-02-03 18:45] RMCob opened #28 "Wyze Outdoor Plug support?"
Wyze Outdoor Plug support?

[2021-02-04 00:20] RMCob commented on #28
I just received my Outdoor Plug, added it to the Wyze app and upgraded the firmware as directed.

Then I started digging around on my own. I am not sure how to deliver a code change so here it is: :-)
In WyzeConnectedHome.js. I added
       case 'OutdoorPlug':
immediately after line 117.
After restarting Homebridge, I see 3 (?) tiles for the Outdoor Plug. 2 of the tiles correspond to the names I a

[2021-02-04 15:50] RMCob commented on #28
Problem solved with another revision. Again, sorry but I do not know how to do a Pull Request to supply the changes so here they are in a diff(1). The only file that was changes was src/WyzeHomeConnect.js.

96c96
<     let accessoryClass = this.getAccessoryClass(device.product_type);
---

115c115
<   getAccessoryClass(type) {
---

116a117,118

143c145
<     let accessoryClass = this.getAccessoryCl

[2021-02-06 20:09] OohTheZigbee commented on #9
I'm a couple months late to the party but am still dealing with this issue. Has anyone found a more permanent fix than starting a second instance of HomeBridge??

[2021-02-06 21:19] OohTheZigbee commented on #9
UPDATE: Using a child bridge does not work as well as hoped. Any restart of the parent bridge (adding a new plugin, etc) results in the error code being thrown by the child bridge. I restarted a second instance, reset the bridge so that Apple HomeKit would recognize it as a new device, and removed all cached accessories. I don't plan to add any other plugins to this instance so that if it ever nee

[2021-02-12 01:09] ghost commented on #28
Is it possible to get these plugs working by manually making these changes? I just received a few and i'd like to see them in homekit, just not sure how to do that.

[2021-02-12 01:29] gr8gtp commented on #28
Second that, can they be made manually until developer gods have some time and update?  Any chance to get copy of file omit anything that might have your LAN or creds?

[2021-02-12 16:29] SteveQ2 commented on #9
I hope someone can fix this issue.  The plugin works great running in a second instance of Homebridge as long as nothing changes.  I had a power failure and had to reconfigure the plugin.  I have 13 Wyze devices.  When you restart a new instance of Homebridge you have to delete the old bridge from your iphone.  This destroys all HomeKit scenes and automations containing Wyze devices.  It is a real

[2021-02-12 16:58] RMCob commented on #28
Look [here](https://github.com/RMCob/homebridge-wyze-connected-home) for a complete version of the plugin that supports the outdoor plug. Be sure to set the outdoor plug up in the Wyze app first.

[2021-02-13 16:12] gr8gtp commented on #28
Thank you for your work Outdoor plug is good to go!!!
npm install -g https://github.com/RMCob/homebridge-wyze-connected-home.git
for those that can't figure out how to install a branch version.

[2021-02-14 13:02] SteveQ2 commented on #9
By the way, the plugin fails whenever the computer is rebooted.  Windows automatic updates can force a reboot.  This kills the plugin.  This is a major issue!

[2021-02-20 01:57] ksmoran opened #29 "Can't see cameras or sensors"
Just installed this plugin and put in the credentials and restarted right after putting in the MDA token. I cannot get it to show up in Homekit and in home bridge logs I see no mention of Wyze. Anything I'm missing?

[2021-02-21 00:11] dkossman opened #30 "Error getting devices: TypeError: Cannot read property 'app_id' of undefined"
- using homebridge 1.1.7 (still waiting for the dust to settle on 1.3.0 before i upgrade)
- running on raspberry pi zero, Buster
- homebridge is working OK with my existing plugins
- installed this plugin
- i have 2FA set up on my Wyze account (text message)
- added section to config.json with my username and password.  was ready to add the MFA code...
- restarted homebridge

however, i never got

[2021-02-21 00:19] dkossman commented on #30
Oops - looks like this is a duplicate, i see there is a workaround to use Google Authenticator instead of text messages for MFA on your Wyze account.  Will try that.

[2021-02-21 00:19] #30 closed, assigned to nobody

[2021-02-24 08:16] jonmiller1 opened #31 "Wyze vacuum support?"
Love this plugin! Hoping to get vacuum support in the future!

[2021-02-27 15:05] Vernal commented on #27
I second this request and would be happy to donate toward it. I picked up a few of the thermostats and they work very well. Rolling them into my homebridge set up would be the best.

[2021-02-28 06:51] winchesterv opened #32 "Wyze Sprinkler support?"

[2021-03-01 23:40] Bom342 opened #33 "doesn't accept mfaCode"
In the Homebridge Configuration, the parameter "mfaCode" is rejected as invalid.

[2021-03-02 21:09] Bom342 commented on #28
I barely know what I'm doing. I added the plugin through the UI, but it doesn't support the outdoor outlets. How can I remove the original plugin and install this version?

[2021-03-03 00:17] RMCob commented on #28
@Bom342 See the previous comment.
Open a terminal session from the UI.
Type the following at the command prompt:  npm install -g https://github.com/RMCob/homebridge-wyze-connected-home.git

Then restart Homebridge.

[2021-03-03 00:27] Bom342 commented on #28
I already tried using terminal from the Mac Finder for that install code, but got a slew of errors about not having developer tools.

But that was Terminal from the Finder. I’ve looked for how to open a terminal session within the Homebridge UI, and don’t see anything like that.

- Bryan

[2021-03-03 00:34] RMCob commented on #28
@Bom342 On the right side of the UI menubar, click on the 3 dots and select Terminal

[2021-03-03 01:09] Bom342 commented on #28
- Bryan

[2021-03-03 01:13] Bom342 commented on #28
I tried to post a screenshot, but no go. There's no Terminal under my three dots on the Mac.

[2021-03-03 19:29] cuatexoft commented on #27
@misenhower  do you have plans to update the plug in ?

[2021-03-03 19:32] cuatexoft commented on #29
Cameras doesnt works with this plugin, you need to install the RTSP  firmware in your cameras V2 or Pan and use the camera ffmpeg plugin in homebridge/hoobs

[2021-03-04 05:54] Bom342 commented on #28
Can I just run that script from Terminal outside of the Homebridge UI?

[2021-03-04 16:27] RMCob commented on #28
The command I showed was for Linux on a Raspberry Pi. Not sure if the same thing works on the Mac.

[2021-03-04 16:31] RMCob commented on #31
Not likely until HomeKit has  a robovac device category. Before then all you would get would be a bunch of pseudo switches to turn it on/off, maybe pause, and return to charge. No way to start a sweep for a 'named space.'

[2021-03-04 16:48] Bom342 commented on #28
I have looked in my .Homebridge directory on the Mac and find few elements associated with Wyze. And nothing that I could edit to add code for outdoor switches. Is there some more manual way to edit my installation and someplace else in my Linux directories that the Homebridge plugin code is stored?

- Bryan

[2021-03-04 18:14] RMCob commented on #28
I think I've got the UI problem solved. I renamed my package to give it a unique name.
In the UI, search for: homebridge-wyze-connected-home-op
and install it from there. Please let me know if this works for you. Thanks....

[2021-03-04 18:25] Bom342 commented on #28
Up and running! Thank you so much for persisting with this.

[2021-03-11 22:15] SteveQ2 commented on #9
Any new information about this issue?  I now have 13 wyze devices.  The plugin fails about once every 3-4 weeks.

[2021-03-15 15:38] Z1mDMan commented on #27
I'm hoping this can be added as well.

[2021-03-15 19:29] brianld75 commented on #27
+1 this would be great to have thermostat support

[2021-03-27 20:56] jonmiller1 opened #34 "Color Bulb support?"
I can see my regular wyze bulbs but not the new wyze color bulbs.

[2021-03-28 17:50] cwong-openfit commented on #33
it might be because the code expired? try to time it when your code is newly generated, then paste in config, save, and restart asap... i was having similar issue before.

[2021-03-28 17:51] cwong-openfit commented on #34
i am looking forward to this as well.

[2021-03-28 23:08] blcarson commented on #34
Would be happy to help test this

[2021-03-30 02:07] johnecampos commented on #34
Following.

[2021-03-30 02:45] cwong-openfit commented on #34
i wonder if this project is still active. last commit was back in jun 2020 ...

[2021-04-04 04:55] cwong-openfit commented on #34
i am able to get the bulbs to show up BUT for some reason it wont change the bulb's state. log shows bulb switched to true/false. but it reverted back (light status didnt change). all this without manipulating the color. just wanted to get the bulbs to turn on/off at this point.

no clue why it doesnt turn off/on as the code seems pretty similar to the wyze plug. 🤷
[code]

added this file -
[code]

[2021-04-04 13:52] mda590 commented on #34
Hi everyone - I submitted a PR (#35) for adding color bulb support. Would love any feedback or improvements you have.

[2021-04-04 15:36] cwong-openfit commented on #34
@mda590 nice work!!! i got it working... i am pretty clueless when it comes to `npm`. i ended up having to clone your fork then checkout the `add-color-bulb-support` branch THEN run `sudo npm install -g homebridge-wyze-connected-home`.

[2021-04-05 00:46] mda590 commented on #34
@cwong-openfit Excellent, glad it ended up working for you!

[2021-04-05 19:07] InstigatorX commented on #34
@mda590 just installed via "npm install https://github.com/mda590/homebridge-wyze-connected-home.git#add-color-bulb-support", edited config.json, and manually added config elements. Works well.

3 things...

1. Would you consider merging the PR that fixes scene/group support into your fork? https://github.com/misenhower/homebridge-wyze-connected-home/pull/23
2. Can you make a HOOBS package? Doesn'

[2021-04-11 04:32] ourstanley commented on #34
I'd be interested in getting the color bulb support into the HOOBS plug-in as well.

[2021-04-24 14:14] jasonlevibrown commented on #34
Is misenhower's repo being maintained or reviewed by the author anymore? I'd love to see these PRs merged but I'm considering forking it and monitoring it so that we can get more features added for Wyze :(

[2021-04-24 21:20] InstigatorX commented on #34
Doesn’t appear to be. I ended up forking and merging in code from @mda590 and @dejaloomer with fixes for color bulbs.

[2021-04-24 22:19] iguillen commented on #34
Anyone interested in forking and maintaining a new project for this?

[2021-04-28 17:51] tfraley commented on #34
I've picked up some color bulbs, recived them in the mail today.

Tried to do the
" npm install https://github.com/mda590/homebridge-wyze-connected-home.git#add-color-bulb-support "

Install method.

I've gone ahead and added the following to the end of the platform section on Hoobs advanced (json)

{
            "platform": "WyzeConnectedHome",
            "name": "Wyze",
            "username":

[2021-05-03 12:28] shauntarves opened #36 "NEW full-featured Python SDK for Wyze"
I have recently released a full-featured, reverse-engineered Python SDK for Wyze devices. I would love to work with you to update/integrate your project.

It adds support **and control** for a variety of Wyze devices

[Python SDK for Wyze](https://github.com/shauntarves/wyze-sdk)

[2021-05-06 05:51] Chew opened #37 "Request forbidden (403) despite correct credentials"
This is a rather unique scenario that I can't seem to figure out.

I keep getting a Request forbidden despite the credentials being 100% correct. There is no MFA enabled.

I tried packet sniffing. The email and password are correct.

I tried enabling debug mode to see. The password and email (and API Key) match what was shown in my packet sniffing.

I tried performing the request manually in postm

[2021-05-06 15:09] Z1mDMan commented on #37
I am also seeing this behavior:

[06/05/2021, 10:01:28] [Wyze] Request failed: Error: Request failed with status code 403
[06/05/2021, 10:01:28] [Wyze] Response (Forbidden): {"description":"Request forbidden."}
[06/05/2021, 10:01:28] [Wyze] Error getting devices: Error: Request failed with status code 403

nothing has changed in my config:

{
    "name": "Wyze",
    "username": "[myuser]",
    "pa

[2021-05-06 22:30] jasonlevibrown commented on #34
I'd be interested.  I'll fork this and try to merge everything in.

[2021-05-06 23:14] tfraley commented on #34
That would be awesome I've been trying to get this going with no luck.
please let us know when you do.

[2021-05-06 23:36] EddieDSuza commented on #37
I am seeing the same error with 2FA enabled and disabled :(

[2021-05-06 23:45] EddieDSuza opened #38 "Supports Core Starter Kit ?"
Have gone thru the plugins description and would like to know if it supports the Wyze Sense Hub together with the keypad and sensors.

would appreciate the feedback.

[2021-05-07 00:30] Chew commented on #37
The issue is 100% user agent blocking.

Setting a bogus User-Agent header fixes the issue:

In the _performLoginRequest I have to set "User-Agent" to my current user agent, as an example, and everything works fine.

[2021-05-07 00:32] EddieDSuza commented on #37
Where is the User-Agent Value that needs to be updated ?

[2021-05-07 00:39] Chew commented on #37
I just forked it and added it myself.

See the commit here: https://github.com/Chew/homebridge-wyze-connected-home/commit/31e055fc27dd01b373cceaac26b1c1a5a52e7a24

If you want to install it (I also threw in #35) just run `sudo npm install -g Chew/homebridge-wyze-connected-home`, it should overwrite this one.

[2021-05-07 00:54] EddieDSuza commented on #37
Seeing the below error

[code]

[2021-05-07 01:29] Chew commented on #37
Looks like something is wrong with your SSH key. May need to force HTTPS if you never set one: https://gist.github.com/taoyuan/bfa3ff87e4b5611b5cbe

[2021-05-07 12:45] Z1mDMan commented on #37
I tried forcing HTTPS per that threat and I still get this:

pi@homebridge:~ $ git config --global url."https://github.com/".insteadOf git@github.com:
pi@homebridge:~ $ git config --global url."https://".insteadOf git://
pi@homebridge:~ $ sudo npm install -g Chew/homebridge-wyze-connected-home
npm ERR! code 128
npm ERR! command failed
npm ERR! command git ls-remote ssh://git@github.com/Chew/homebr

[2021-05-07 12:59] Z1mDMan commented on #37
I added my pi's RSA key to my GitHub account and I was able to install this. Thanks @Chew!

[2021-05-07 15:31] wjstone commented on #37
Tired running on mine and i'm getting this:

pi@homebridge:~ $ sudo npm install -g Chew/homebridge-wyze-connected-home
npm ERR! code 128
npm ERR! command failed
npm ERR! command git --no-replace-objects clone ssh://git@github.com/Chew/homebridge-wyze-connected-home.git /root/.npm/_cacache/tmp/git-clone-609903c0 --recurse-submodules --depth=1
npm ERR! fatal: could not create leading directories of

[2021-05-08 01:03] mo-hamdan commented on #37
Hi,

I tried all of your generous above solutions and nothing worked with me :( even tried to change my email and pass and also doesn't work, need your kind advises

=====

hoobs@hoobs:/usr/local/lib/node_modules $ sudo npm install -g Chew/homebridge-wyze-connected-home
npm WARN deprecated axios@0.19.2: Critical security vulnerability fixed in v0.21.1. For more information, see https://github.com/

[2021-05-09 17:22] mo-hamdan commented on #37
@Chew can you advise me please :-| this is actually I reached borderlines of solving this issue ...

[2021-05-11 01:17] jasonlevibrown commented on #34
Ok! Been busy lately but I'll try working on it this week!

[2021-05-11 04:41] tfraley commented on #34
Awesome.. Thanks

[2021-05-13 03:04] dorkfries101 commented on #38
The motion and contact sensors v2 already work. The keypad does not nor the hub.

[2021-05-13 22:43] iarroniz commented on #37
Mo-hamdan did you fix it ? I am having same problem and is hard for me follow Chew, relatively new on this

[2021-05-13 22:47] mo-hamdan commented on #37
HI @iarroniz

I gave up actually, currently I'm relying on Wyze iOS app to deal with bulbs till someone advises me further...

[2021-05-14 00:44] ghost commented on #37
I keep running into error:
sudo npm install -g Chew/homebridge-wyze-connected-home
npm ERR! code 128
npm ERR! command failed
npm ERR! command git clone ssh://git@github.com/Chew/homebridge-wyze-connected-home.git /root/.npm/_cacache/tmp/git-clone-7e037357 --recurse-submodules --depth=1
npm ERR! fatal: could not create leading directories of '/root/.npm/_cacache/tmp/git-clone-7e037357': Permission

[2021-05-15 13:49] holocronology commented on #36
Outside my knowledge base, but it would be great to see an expanded homebridge plugin using this.

[2021-05-15 20:16] amd989 commented on #37
@mo-hamdan
I was on the same boat until I could not take Wyze's app anymore. Just managed to install [wyze plug flasher](https://github.com/elahd/wyze_plug_flasher) on all my bulbs, from there, I flashed Tasmota, then used [homebridge-mqtt-thing](https://github.com/arachnetech/homebridge-mqttthing) to have them show up in homebridge (through an MQTT broker).  It supports adaptive lighting and now

[2021-05-15 21:45] TJTorola commented on #37
@Chew That worked for me (I manually patched the change in skipping over any npm issues) Is there a PR open to upstream that fix?

[2021-05-15 22:27] mo-hamdan commented on #37
@amd989, Ohhh this is too much advanced solution for me :-) I'll not be able for sure to do it but seems fun and will run specially in regards of avoiding api/auth issues, I'll give it a try on one of my Wyze bulbs, thanks in advance...

[2021-05-15 22:34] mo-hamdan commented on #37
Hi @TJTorola can you please elaborate which patch solution worked with you? if you have a time please visit my comment in above which I explained for  all the tries I did already and which also thankfully mentioned by @Chew and it also failed due to "forbidden (403)" issues...

[2021-05-16 00:52] Chew commented on #37
@TJTorola I can open one but it doesn't really look like much is going on in this repo anymore 😢

[2021-05-17 18:54] MikeThomas123456 commented on #37
@Chew - Your fork fixed the issue. Hopefully it'll get merged in as a parameter in the config to set the User-Agent

[2021-05-17 19:52] MikeThomas123456 commented on #37
I forked the @RMCob fork (added support for outdoor plug, contact sensor, & motion sensor) and added @Chew's header fix. No more 403 Forbidden and access to Outdoor Plug.

You can install with
`sudo -E -n npm install -g MikeThomas123456/homebridge-wyze-connected-home-op`

[2021-05-17 19:54] Z1mDMan commented on #37
Thanks @MikeThomas123456 I will check it out later. So far @Chew version worked for me.

[2021-05-17 20:21] MikeThomas123456 commented on #37
Agree, Chew’s version works well too but it lacks the code for the outdoor plug, which is what I’m trying to use. :)

[2021-05-17 20:58] Chew commented on #37
Battle of the forks I see 😂

[2021-05-18 20:54] mo-hamdan commented on #37
Thanks a lot @MikeThomas123456 now worked perfectly with me.

[2021-05-19 15:01] TJTorola commented on #37
Maybe one of these forks should work towards getting verified? https://github.com/homebridge/verified. Seeing as this repo is inactive and unusable without the patch to fix these 403 errors.

[2021-05-19 17:57] Chew commented on #37
I have no plans to actively maintain my fork, but you are free to use my fix.

[2021-05-19 18:02] Z1mDMan commented on #37
It’s too bad that we probably won’t see official homekit support from Wyze anytime soon

[2021-05-28 16:08] Bom342 opened #41 "Request failed: Error: Request failed with status code 403"
The plugin has been working on an iMac. I installed it on a Beaglebone Black yesterday and get this error continuously.

[5/28/2021, 3:29:08 PM] [Wyze] Request failed: Error: Request failed with status code 403
[5/28/2021, 3:29:08 PM] [Wyze] Response (Forbidden): {"description":"Request forbidden."}
[5/28/2021, 3:29:08 PM] [Wyze] Error getting devices: Error: Request failed with status code 403

[2021-05-31 21:01] ghostdogg47 commented on #37
What's the process to get MikeThomas123456's fix into the official plugin?

[2021-06-01 12:24] DebuOKC commented on #37
Good morning has anyone gotten this working with the Beta of HOOBS 4?

[2021-06-04 20:34] CookiesBoomerang commented on #37
MikeThomas123456’s fix is giving me an error:
npm ERR! code 128
npm ERR! command failed
npm ERR! command git --no-replace-objects ls-remote ssh://git@github.com/MikeThomas123456/homebridge-wyze-connected-home-op.git
npm ERR! git@github.com: Permission denied (publickey).
npm ERR! fatal: Could not read from remote repository.
npm ERR!
npm ERR! Please make sure you have the correct access rights
npm

[2021-06-05 14:26] SteveQ2 commented on #41
I am also seeing this same error.  I have been using this plugin on Windows 10 for about a year.

Any ideas?

Steve Q

[2021-06-05 20:33] matts-newmorn commented on #37
$20 to someone who gets a version of this working on Hoobs again. With the color bulb support.

[2021-06-07 19:12] Bom342 commented on #41
Have you by any chance referenced a second instance of Homebridge to your Wyze account? That may be related to my errors.

- Bryan

[2021-06-07 20:02] Bom342 commented on #37
Thanks to @MikeThomas123456. I am back in business.

[2021-06-07 20:11] Bom342 commented on #41
Error 403 has been fixed. See:

https://github.com/misenhower/homebridge-wyze-connected-home/issues/37?_pjax=%23js-repo-pjax-container

- Bryan

[2021-06-08 22:01] SteveQ2 commented on #41
Bom342,  Thanks for pointing me to #37.  I had seen this thread before but I was not able to get the Chew or MikeThomas versions to install.   After some additional research, I discovered that I needed to install git on my Windows 10 computer running HomeBridge. After downloading and installing git (I used the default settings) I was able to install the Chew version from the command line prompt of

[2021-06-09 03:53] sisuwest commented on #37
@MikeThomas123456 and @Bom342 I am quite the Noob at this stuff. I’ve had Hoobs up and running got some time now, but this darn 403 error is keeping things from going. I’ve read through this post and see a fix, but I have no idea how to implement it. Since I only run this on Hoobs, how do I get this working?

[2021-06-09 04:35] Bom342 commented on #37
I know little more than you do, and any advice I give you will be seen to be really rudimentary by most readers, but in the interest of giving back and helping out, I will tell you what little I know. I don't know what Hoobs is or what hardware you're running on, but I assume you have installed Homebridge on some Linux system. I assume you have a terminal window into which you can enter commands,

[2021-06-09 19:12] sisuwest commented on #37
@Bom342 HOOBS (Homekit Out Of The Box System) is a nearly plug and play version of Homebridge. Basically I flash their system on an SD card and then plug it into a Raspberry Pi. From there I can add any service I want (like Wyze Connected Home Op).

All was great until recently. This forum post makes it seem like @MikeThomas123456 's command is a simple thing to do. Because HOOBS runs it all, I ca

[2021-06-09 19:18] Bom342 commented on #37
We are two blind people struggling in the dark. Maybe someone better informed will chime in. But, which Wyze plugin are you using? Who is the author of it? Is it @rmcob or @misenhower?

[2021-06-09 20:00] sisuwest commented on #37
@Bom342 I've used both. This particular one is the one by @RMCob

I've added `sudo -E -n npm install -g MikeThomas123456/h` a few times, and it seems to load fine, but I'm still getting 403 errors.

[2021-06-09 20:22] Bom342 commented on #37
Beats me. That's what I did. And it worked. By any chance have you ever installed Homebridge and the Wyze plugin on any other computer? Or is this the only one?

[2021-06-09 20:29] sisuwest commented on #37
@Bom342 at one point I had Homebridge on a Raspberry Pi, but when I found Hoobs, I switched to that. So much easier!

[2021-06-09 20:39] Bom342 commented on #37
My problems started when I installed a second copy of Homebridge. It was as if the Wyze servers didn't want to deal with a second Homebridge on my account. Is  your Pi version still around? Does it generate those errors?

I don't really know if this matters, but it might be worth your trouble to create a new account at Wyze and try to join with your Hoobs install from a different email address. Or

[2021-06-09 22:25] sisuwest commented on #37
@Bom342 Nothing else is running. I only have a single Pi and everything was flashed to Hoobs.

No way am I creating a new account. I have 55 devices and I won't be adding them back anytime soon.

[2021-06-10 15:06] Bom342 commented on #37
Then, as an experiment, create a new Wyze account and put one device in it, just to see if it generates the same error.

[2021-06-13 14:09] DebuOKC commented on #37
Ok so I’m not a noob to any of this but this one is driving me bonkers …  got past the 403 error and now I’m getting:  Error request Failed with status code 400.  Basically saying too many failed attempts….. this is mind boggling annoying.

[2021-06-15 13:41] sisuwest commented on #37
@DebuOKC how did you get past the 403 error?

[2021-06-15 14:53] DebuOKC commented on #37
I haven't ... its driving me bonkers

[2021-06-20 16:38] jujinfu opened #44 "switch to a new wyze-sdk"
https://github.com/shauntarves/wyze-sdk

this one seems to be a very good replacement of current api library

[2021-07-11 16:58] ndejong5 commented on #37
Why has this not been added yet? Unfortunately I can’t install a fork on Hoobs so I am left stranded.

[2021-07-11 17:03] Bom342 commented on #37
I expect the simple answer is because no one gets paid to do it, and people contribute what they do out of generosity and the needs they have in their own systems. What would be the incentive for someone to try and solve this problem if they have never seen it?

[2021-07-11 17:26] ndejong5 commented on #37
@Bom342 I get that but the issue has been resolved in a fork. I don’t know much about all this but I was just curious why it has not been implemented in the main code. No disrespect just curious.

[2021-07-11 17:35] iguillen commented on #37
What do you mean main code? This project is is most likely dead since the maintainer hasn't participated in some time. You're better off manually installing one of the forks.

[2021-07-11 17:43] ndejong5 commented on #37
Yeah unfortunately I don’t have that option on Hoobs or at least I don’t know how to.

[2021-07-11 17:50] MikeThomas123456 commented on #37
Need someone with necessary permissions to merge this fork and should be all good!

[2021-07-11 17:51] ndejong5 commented on #37
Bummer, doesn’t seem like that is going to happen anytime soon. :(

[2021-07-11 17:57] Bom342 commented on #37
Must you stick with Hoobs?

[2021-07-11 18:00] ndejong5 commented on #37
@Bom342 I don’t have to but I have everything else setup on it right now. Going to be more of a pain to switch to something else.

[2021-07-11 18:01] iguillen commented on #37
Try this: https://github.com/hoobs-org/HOOBS/issues/586

[2021-07-12 14:20] ndejong5 commented on #37
@iguillen I tried this but I am on Hoobs 4 and I think things have changed. :(

[2021-07-13 13:15] ndejong5 commented on #37
@MikeThomas123456 someone at hoobs told me it has to be a scoped plugin for me to be able to install it. No idea what that means. He said the fork would have to be published as a scoped release.

[2021-07-24 18:10] Floridajoe95 opened #48 "Hoobs Wyze error 400"
I installed the newest Wyze plugin for the motion sensors and door sensors but i can’t get it to Work. I get error: [Wyze] Error getting devices: Error: Request failed with status code 400

[2021-08-02 20:35] saadatorama commented on #28
@RMCob do you have any interest in merging some of the newer commits to your branch? I’ve been using it on homebridge (thanks for that by the way) but it appears this project is no longer being updated and I’d love to see if I can help in any way for getting color bulb and lock support.

[2021-08-05 17:33] RMCob opened #49 "New version of RMCob/homebridge-wyze-connected-home-op published. V0.5.6"
I have updated RMCob/homebridge-wyze-connected-home-op to incorporate the fixes for the 403 error and Color Bulb functionality supplied by others. I do not have a Color Bulb to verify those changes but the 403 error is definitely fixed (until something else changes :-))

[2021-08-11 16:11] SteveQ2 commented on #49
I am using your implementation and it is working on my local network.  However, whenever my iPhone is away from home and connects to different network, your homebridge plugin crashes and I have to do a complete reinstall of my Wyze homebridge instance.  I probably have an issue with my network setup but nevertheless I don't think such a catastrophic crash should occur! Any suggestions?

Steve

[ho

[2021-08-11 19:30] SteveQ2 commented on #49
Here is the log after the plugin crashes.
[homebridge.log (1).txt](https://github.com/misenhower/homebridge-wyze-connected-home/files/6970918/homebridge.log.1.txt)

[2021-08-11 19:35] RMCob commented on #49
Steve, I looked at your log file. I am not familiar with running Homebridge on Windows so I really can't help much. The paths shown in the log file that have the component 'Roaming'. Is there a non-Roaming version? Also you said you had to do a complete re-install of the Homebridge instance. From the log file it looks like it just re-started. Is that what you meant? Perhaps someone else running Ho

[2021-08-11 19:43] RMCob commented on #49
Steve, in your second log file, in the beginning are the lines:
[8/11/2021, 2:18:43 PM] [Wyze] Request failed: Error: getaddrinfo ENOTFOUND api.wyzecam.com
[8/11/2021, 2:18:43 PM] [Wyze] Error, refreshing access token and trying again
[8/11/2021, 2:48:00 PM] Error: send EHOSTUNREACH 224.0.0.251:5353
    at doSend (dgram.js:692:16)
    at defaultTriggerAsyncIdScope (internal/async_hooks.js:429:12)

[2021-08-11 19:43] SteveQ2 commented on #49
So I left home and when I came back, the plugin had crashed.  The second logfile is what appears when it has crashed.  To recover, i must now uninstall and reinstall my homebridge instance and reinstall all the devices.

[2021-08-11 19:56] SteveQ2 commented on #49
I have 2 other instances of homebridge running with a total of 87 non "wyze" devices.  These instances are rock solid for the past year.  The wyze plugin is on the same network and configured pretty much the same.  What is the "access token"?

[2021-08-11 20:36] SteveQ2 commented on #49
RM, I have RMCob/homebridge-wyze-connected-home-op  plugin running in a separate Homebridge instance named homebridge-four on port 8584.  All the wyze specific device information is stored in a windows directory  named .homebridge-four  the access token is in the "persist" sub directory.  It appears the plugin is not looking in the right file location when it restarts!

Steve

[2021-08-19 00:16] SteveQ2 commented on #49
A power outage forced me to reinstall HomeBridge and the Wyze plugin.  I got everything working and all was good for about 4 days. Then the Wyze connected home RMCob plugin crashed.  Very frustrating!

Is anyone using the Wyze connected home plugin successfully?

[2021-08-26 18:12] SteveQ2 commented on #49
Still having problems. I thought running the plugin as a child had solved the problem. Nope!
![Screenshot (8)](https://user-images.githubusercontent.com/72275254/131014366-1a283d8c-357b-4815-9968-aa65a2023fba.png)

[2021-09-30 15:20] coledeb commented on #36
I have been monitoring the [@RMCob fork](https://github.com/RMCob/homebridge-wyze-connected-home-op) of this plugin and adding what pull requests / features I have seen from this main plugin to his work. Unfortunately, it looks like this original version of the plugin is no longer maintained. I myself am not terribly proficient at coding, but if you would be interested in using [my fork](https://g

[2021-10-14 23:18] TristanBrotherton opened #50 "Feature idea - use person detected in cameras as presence sensor"
I'm aware of the issues integrating Wyze cameras into home/kit/bridge. However what about exposing them as a motion sensor that was triggered on either a) motion or b) person detection. It could lead to some pretty cool hacks.

[2021-12-29 23:45] #38 closed, assigned to nobody

[2022-01-24 23:10] mateo-ca commented on #20
Anybody find a solution to this? I've just installed Homebridge (1.4.0) and cannot get the Wyze plugin to connect. I get the same error messages:

[1/24/2022, 4:02:43 PM] [Wyze] Error, logging in and trying again
[1/24/2022, 4:02:48 PM] [Wyze] Request failed: Error: getaddrinfo EAI_AGAIN auth-prod.api.wyze.com
[1/24/2022, 4:02:48 PM] [Wyze] Error getting devices: Error: getaddrinfo EAI_AGAIN auth-

[2022-04-07 02:10] Z1mDMan commented on #27
Bump

[2022-04-11 21:41] cheme75 commented on #37
Fwiw, I’m pretty much a noob at this, but I deleted the original wyze plugin, then searched from the hooks plugin page, saw the -op plugin, installed it, put in my login creds, restarted service and bingo. Back to working as expected. I guess most instructions assume installing plugin in homebridge the manual way which overwrites the old files with the newer. But it seems hoobs had to have the old

[2022-04-19 02:45] Z1mDMan commented on #27
Possibly making use of this wyze sdk could make this happen? https://github.com/shauntarves/wyze-sdk

[2022-05-06 16:51] AlDenty opened #53 "Garage Door Opener Support?"

[2022-05-24 22:19] RMCob commented on #31
homebridge-wyze-robovac

[2022-06-14 14:40] jfarmer08 opened #55 "New version of homebridge-wyze-smart-home published. V0.5.17"

[2022-06-25 03:02] #21 closed, assigned to nobody